@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.widgetItem {
  width: 13.9583vw;
  height: 6.25vw;
  opacity: 1;
  gap: 0.4167vw;
  border: 0.0521vw solid $gray_d8;
  border-radius: 0.8333vw;
  padding: 0.4167vw;
  cursor: grab;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover {
    background-color: #f8f9fa;
    box-shadow: 0 0.1042vw 0.2083vw rgba(0, 0, 0, 0.05);
  }

  &.dragging {
    opacity: 0.5;
  }
}

.widgetName {
  @include RMed_16;
  color: $light_gray;
}
