.chartPlaceholder {
  flex-grow: 1;
  background-color: #f8fafc;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}
