@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.leftMenu {
  width: 16.9792vw;
  height: 100%;
  gap: 0.4167vw;
  opacity: 1;
  border: 0.0521vw solid $gray_d8;
  background-color: $gray_f0;
  display: grid;
}

.header {
  width: 100%;
  height: 4.6875vw;
  display: flex;
  gap: 0.4167vw;
  opacity: 1;
  padding-top: 1.6667vw;
  padding-right: 1.6667vw;
  padding-left: 1.7708vw;
}

.logo {
  width: 13.0208vw;
  height: 2.5vw;
  gap: 0.4167vw;
  opacity: 1;
  display: flex;
  align-items: center;

  img {
    width: 2.5vw;
    height: 2.5vw;
  }
}

.logoText {
  h2 {
    @include RBold_30;
    color: $dark_gray;
  }
  h3 {
    @include RReg_16;
    color: $light_gray;
  }
}

.main {
  gap: 0.8333vw;
  opacity: 1;
  padding-right: 1.25vw;
  padding-left: 1.7708vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow: hidden;
  padding-bottom: 1.25vw;
}

.creatingDashboard {
  width: 13.3333vw;
  opacity: 1;
  gap: 0.2083vw;
  display: grid;
  h2 {
    @include RMed_20;
    color: $dark_gray;
  }
  h3 {
    @include RReg_16;
    color: $light_gray;
    white-space: pre-line;
    line-height: 1.2;
  }
}

.backButton {
  width: 13.9583vw;
  height: 4.3229vw;
  display: flex;
  padding-top: 0.8333vw;
}

.mainMenu {
  width: 13.9583vw;
  // height: 38.2813vw;
  height: 100%;
  flex: 1; // добавить
  min-height: 0;
  gap: 0.8333vw;
  opacity: 1;
  border-top: 0.0521vw solid $gray_d8;
  display: grid;
}

.widgetList {
  display: flex;
  flex-direction: column;
  gap: 0.4167vw;
  padding-top: 0.8333vw;
  padding-bottom: 1.6667vw;
  border-bottom: 0.0521vw solid $gray_d8;
}

.noResults {
  padding-left: 1.25vw;
  p {
    @include RReg_20;
    color: $light_gray;
  }
}

.simplebarContainer {
  flex: 1;
  min-height: 0;
  width: 100%;
}
