@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 50vw;
  height: 28.125vw;
  opacity: 1;
  display: grid;
  gap: 0.8333vw;
  border-radius: 1.0417vw;
  border: 0.0521vw solid $gray_d8;
  padding: 1.0417vw;
  background: $white;
  box-shadow: 0px 0.2083vw 0.8333vw 0px #7d889326;
  overflow: hidden;
}

.modalHeader {
  width: 47.9167vw;
  height: 3.1771vw;
  opacity: 1;
  gap: 0.5208vw;
  display: flex;
  justify-content: space-between;

  .headerText {
    width: 45.7292vw;
    height: 3.1771vw;
    opacity: 1;
    gap: 0.2083vw;
    display: grid;
  }

  h2 {
    @include RBold_24;
    color: $dark_gray;
  }
  p {
    @include RReg_16;
    color: $light_gray;
  }
}

.tabs {
  width: 29.2708vw;
  height: 2.6563vw;
  gap: 0.8333vw;
  opacity: 1;
  border-radius: 0.4167vw;
  padding: 0.4167vw;
  background: $gray_f0;
  box-shadow: 0px 0.2083vw 0.4167vw 0px #7d889333 inset;
  display: flex;
}

.uploadArea {
  width: 47.9167vw;
  height: 22.0313vw;
  opacity: 1;
  gap: 1.0417vw;
  border-radius: 0.8333vw;
  border: 0.0521vw dashed $gray_d8;
  background: $gray_f6;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-items: center;
  &.dragOver {
    border: 0.1042vw dashed $primary_blue;
    background: $primary_blue_15;
  }
  &.short {
    height: 18.9583vw;
  }
}

.uploadText {
  width: 26.6146vw;
  height: 3.5938vw;
  opacity: 1;
  gap: 0.2083vw;
  display: grid;
  h2 {
    @include RMed_20;
    color: $light_gray;
  }
  p {
    @include RReg_16;
    color: $light_gray;
  }
}

.fileInput {
  display: none;
}

.errorMessage {
  height: 2.0833vw;
  opacity: 1;
  gap: 0.4167vw;
  padding-top: 0.625vw;
  padding-right: 0.8333vw;
  padding-bottom: 0.625vw;
  padding-left: 0.8333vw;
  border-radius: 0.4167vw;
  border: 0.0521vw solid $red_15;
  background: $white;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  transition: all 0.3s ease;

  p {
    @include RReg_14;
    color: $red;
    margin: 0;
  }
}

.connectOnlineContainer {
  width: 47.9167vw;
  height: 18.9583vw;
  gap: 2.0833vw;
  opacity: 1;
  border-radius: 0.8333vw;
  border: 0.0521vw solid $gray_d8;
  background: $gray_f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5625vw;
}

.onlineText {
  gap: 0.7813vw;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    @include RMed_20;
    color: $light_gray;
  }

  p {
    @include RReg_14;
    color: $primary_blue;
  }

  li {
    @include RReg_16;
    color: $light_gray;
    line-height: 1.1;
    padding-bottom: 0.5208vw;

    &:last-child {
      padding-bottom: 0;
    }
  }

  ol li::marker {
    @include RMed_16;
    color: $primary_blue;
  }

  ol {
    padding-left: 0.8854vw;
  }
}

.uploadVideoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8333vw;
}

.videoListContainer {
  width: 47.9167vw;
  height: 12.9167vw;
  gap: 1.0417vw;
  opacity: 1;
  padding-top: 0.4167vw;
  padding-right: 1.25vw;
  padding-bottom: 0.4167vw;
  padding-left: 0.4167vw;
  border-radius: 0.8333vw;
  border: 0.0521vw solid $gray_d8;
  background: $gray_f6;
}

.videoList {
  width: 45.4167vw;
  height: 24.7917vw;
  gap: 0.2083vw;
  opacity: 1;
  border-radius: 0.4167vw;
  display: flex;
  flex-direction: column;
}

.videoListItem {
  width: 45.4167vw;
  height: 3.9583vw;
  gap: 0.8333vw;
  opacity: 1;
  border-radius: 0.4167vw;
  padding: 0.4167vw;
  background: $white;
  display: flex;
  align-items: center;

  &:hover {
    background: $gray_f6;
    border: 0.0521vw solid $gray_d8;
    cursor: pointer;
  }

  &.selected {
    border: 0.0521vw solid $primary_blue;
  }
}

.video {
  width: 5.5208vw;
  height: 3.125vw;
  opacity: 1;
  border-radius: 0.2083vw;
  border: 0.0521vw solid $gray_d8;
  background: $gray_f6;
}

.videoInfo {
  width: 36.4583vw;
  height: 2.2396vw;
  gap: 0.4167vw;
  opacity: 1;
  display: grid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  h2 {
    @include RReg_16;
    color: $dark_gray;
  }
}

.timeDate {
  height: 0.8333vw;
  gap: 0.8333vw;
  opacity: 1;
  display: flex;

  p {
    @include RREGUP_14;
    color: $light_gray;
  }
}
