@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.tabsContainer {
  height: 2.6563vw;
  width: fit-content;
  min-width: min-content;
  opacity: 1;
  gap: 0.8333vw;
  border-radius: 0.4167vw;
  padding: 0.4167vw;
  display: flex;
  background: $gray_f0;
  box-shadow: 0px 0.2083vw 0.4167vw 0px #7d889333 inset;
}

.tab {
  height: 1.8229vw;
  width: auto;
  opacity: 1;
  gap: 0.4167vw;
  padding: 0.4167vw 0.625vw;
  border-radius: 0.4167vw;
  display: flex;
  background: $white;
  box-shadow: 0px 0.1042vw 0.1042vw 0px #7d88931a;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  @include RReg_16;
  color: $dark_gray;
  white-space: nowrap;

  &.tabActive {
    background: $white;
    color: $dark_gray;
  }

  &.tabInactive {
    background: transparent;
    color: $light_gray;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
