@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 50vw;
  height: 28.125vw;
  opacity: 1;
  display: grid;
  gap: 0.8333vw;
  border-radius: 1.0417vw;
  border: 0.0521vw solid $gray_d8;
  padding: 1.0417vw;
  background: $white;
  box-shadow: 0px 0.2083vw 0.8333vw 0px #7d889326;
  overflow: hidden;
}

.modalHeader {
  width: 47.9167vw;
  height: 3.1771vw;
  opacity: 1;
  gap: 0.5208vw;
  display: flex;
  justify-content: space-between;

  .headerText {
    width: 45.7292vw;
    height: 3.1771vw;
    opacity: 1;
    gap: 0.2083vw;
    display: grid;
  }

  h2 {
    @include RBold_24;
    color: $dark_gray;
  }
  p {
    @include RReg_16;
    color: $light_gray;
  }
}

.video {
  height: 22.0313vw;
  width: 47.9167vw;
  opacity: 1;
  border-radius: 0.8375vw;
  border: 0.0521vw solid $gray_d8;
  background: $gray_f0;
  overflow: hidden;
}
