@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.mainArea {
  height: 100%;
  width: 83.0208vw;
  display: flex;
  justify-content: center;
  background: $gray_f6;
}

.header {
  width: 80.2083vw;
  height: 6.71875vw;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding-top: 1.25vw;
  padding-bottom: 0.2083vw;
}
