@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.widgetContent {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.widgetHeader {
  height: 50px;
  gap: 8px;
  display: flex;
  opacity: 1;
  padding-bottom: 8px;
  border-bottom: 1px solid $gray_f0;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: grab;

  h2 {
    @include RReg_20;
    color: $dark_gray;
  }
  p {
    @include RReg_16;
    color: $light_gray;
  }
}

.widgetBody {
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 16px;
  gap: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: $gray_f6;
}

.movePatterns {
  height: 91px;
  padding-bottom: 8px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.patternsHeader {
  height: 43px;
  gap: 4px;
  display: flex;
  flex-direction: column;

  h3 {
    @include RMed_20;
    color: $gray;
  }
  p {
    @include RReg_14;
    color: $light_gray;
  }
}

.patternsTabs {
  height: 28px;
  gap: 8px;
  display: flex;
}

.patternTab {
  height: 28px;
  border-radius: 4px;
  padding-right: 8px;
  padding-left: 8px;
  gap: 4px;
  display: flex;
  border: 1px solid $gray_d8;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    border-color: $primary_blue;

    h3,
    p {
      color: $primary_blue;
    }
  }

  h3 {
    @include RReg_14;
    color: $light_gray;
  }
  p {
    @include RMed_14;
    color: $light_gray;
  }

  &.active {
    border-color: $primary_blue;

    h3,
    p {
      color: $primary_blue;
    }
  }
}

.routesListContainer {
  width: 692px;
  height: 399px;
  padding-left: 2px;
  border-top: 1px solid $gray_d8;
  display: flex;
}

.simplebarContainer {
  width: 100%;
  height: 100%;
}

.emptyState {
  height: 23px;
  padding-bottom: 4px;
  gap: 10px;
  display: flex;

  p {
    @include RReg_16;
    color: $light_gray;
  }
}

.routesList {
  width: 658px;
  gap: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
}

.routeItem {
  width: 100%;
  min-width: 658px;
  height: 127px;
  border-radius: 8px;
  padding: 8px 12px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 0px 4px 16px 0px #252e380d;
}

.routeItemHeader {
  height: 28px;
  padding-top: 4px;
  padding-bottom: 8px;
  gap: 10px;
  display: flex;
  border-bottom: 1px solid #7d889333;

  p {
    @include RReg_14;
    color: $light_gray;
  }
}

.warning {
  gap: 4px;
  display: flex;

  p {
    @include RReg_14;
    color: #f32019;
  }
}

.routeItemBody {
  width: 634px;
  height: 71px;
  gap: 16px;
  display: flex;
}

.routeInfo {
  width: 150px;
  height: 71px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.routeInfoHeader {
  height: 39px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;

  h3 {
    @include RReg_16;
    color: $dark_gray;
  }
  p {
    @include RReg_14;
    color: $light_gray;
  }
}

.details {
  height: 24px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  p {
    @include RReg_14;
    color: $primary_blue;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  img {
    margin-left: 4px;
  }
}

.line {
  width: 0px;
  height: 65.5px;
  border: 1px solid $gray_d8;
  flex-shrink: 0;
}

.genderAgeBlock {
  width: 120px;
  height: 64px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genderBlock {
  width: 96px;
  height: 28px;
  border-radius: 90px;
  padding: 6px 16px;
  gap: 10px;
  display: flex;
  background: $light_gray_15;
  justify-content: center;
  align-items: center;

  p {
    @include RReg_14;
    color: $gray;
  }
}

.currentZone {
  width: 290px;
  height: 71px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.currentZoneInfo {
  width: 290px;
  height: 39px;
  gap: 4px;
  display: flex;
  flex-direction: column;

  h3 {
    @include RReg_14;
    color: $light_gray;
  }
  p {
    @include RReg_16;
    color: $dark_gray;
  }
}
