@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.0417vw;
}

.authForm {
  width: 100%;
  max-width: 20.8333vw;
  padding: 2.0833vw;
  background: $white;
  border-radius: 0.4167vw;
  box-shadow: 0 0.1042vw 0.5208vw rgba(0, 0, 0, 0.1);
  gap: 0.5208vw;
  display: grid;

  h2 {
    text-align: center;
    padding-top: 1.5625vw;
    @include RReg_16;
    color: $dark_gray;
  }
  .formTitle {
    @include RBold_24;
    color: $dark_gray;
  }
}

.error {
  margin-top: 0.5208vw;
  background: $red_10;
  color: $red;
  padding: 0.5208vw;
  border-radius: 0.2083vw;
  margin-bottom: 0.7813vw;
  border: 0.0521vw solid $red_30;
}

.authLinks {
  text-align: center;
  margin-top: 1.0417vw;

  a {
    color: $primary_blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.buttonsContainer {
  padding-top: 1.0417vw;
  display: flex;
  justify-content: center;
}
