@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.createZone {
  width: 23.3333vw;
  height: 25.5208vw;
  gap: 1.25vw;
  opacity: 1;
  border-radius: 0.8333vw;
  border: 0.0521vw solid $gray_f0;
  padding: 1.0417vw;
  background: $white;
  box-shadow: 0px 0.1042vw 0.1042vw 0px #7d88931a;
  display: flex;
  flex-direction: column;

  &.mask {
    height: 14.4271vw;
  }
}

.createZoneHeader {
  width: 21.25vw;
  height: 1.6667vw;
  gap: 0.5208vw;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    @include RBold_24;
    color: $dark_gray;
  }
}

.zoneInfo {
  width: 21.25vw;
  height: 16.9792vw;
  gap: 1.25vw;
  opacity: 1;
  padding-bottom: 1.25vw;
  display: flex;
  flex-direction: column;
}

.colorSelection {
  width: 21.25vw;
  height: 9.8438vw;
  gap: 0.5208vw;
  opacity: 1;
  display: flex;
  flex-direction: column;
  h2 {
    @include RReg_16;
    color: $light_gray;
  }
}

.colorOptions {
  display: flex;
  flex-direction: column;
  gap: 0.8333vw;
}

.colorOption {
  height: 1.4583vw;
  display: flex;
  align-items: center;
  gap: 0.625vw;
  cursor: pointer;
}

.colorRadio {
  display: none;
  &:checked + .colorCheckmark {
    border-color: $primary_blue;

    &::after {
      content: "";
      width: 0.8333vw;
      height: 0.8333vw;
      background-color: $primary_blue;
      border-radius: 0.1042vw;
    }
  }
}

.colorCheckmark {
  width: 1.4583vw;
  height: 1.4583vw;
  opacity: 1;
  border-radius: 0.3125vw;
  border: 0.0521vw solid $light_gray;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.colorPreview {
  width: 1.25vw;
  height: 1.25vw;
  opacity: 1;
  border-radius: 0.3125vw;
}

.colorName {
  @include RMed_16;
}
