@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.widgetContent {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.widgetHeader {
  height: 2.6042vw;
  gap: 0.4167vw;
  display: flex;
  opacity: 1;
  padding-bottom: 0.4167vw;
  border-bottom: 0.0521vw solid $gray_f0;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: grab;

  h2 {
    @include RReg_20;
    color: $dark_gray;
  }
  p {
    @include RReg_16;
    color: $light_gray;
  }
}

.widgetBody {
  gap: 0.4167vw;
  display: flex;
  flex-direction: column;
  background: $white;
  flex: 1;
}

.widgetText {
  display: flex;
  flex-direction: column;
  gap: 0.2604vw;
  padding-top: 0.5208vw;

  &:first-of-type {
    padding-top: 1.0417vw;
  }

  h2 {
    @include RMed_16;
    color: $dark_gray;
  }
  span {
    @include RMed_16;
    color: $dark_gray;
  }
  p {
    @include RReg_16;
    color: $light_gray;
  }
}
