@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.simplebar-track {
  &.simplebar-vertical {
    width: 1.25vw;
    opacity: 1 !important;
    visibility: visible !important;
  }

  &.simplebar-horisontal {
    opacity: 0 !important;
    visibility: hidden !important;
    height: 0;
  }

  .simplebar-scrollbar {
    opacity: 1 !important;
    visibility: visible !important;
    &::before {
      width: 0.2083vw;
      // height: 32px;
      background: $gray_d8;
      border-radius: 1.25vw;
      opacity: 1;
      left: 0.0521vw;
      right: 0.46875vw;
    }

    &.simplebar-visible::before {
      opacity: 1;
    }

    &:hover::before {
      background: $light_gray;
    }
  }
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 0 !important;
}
