@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.smallButton {
  width: 2.5vw;
  height: 2.5vw;
  opacity: 1;
  gap: 0.4167vw;
  border-radius: 0.4167vw;
  padding: 0.4167vw;
  background: $white;
  box-shadow: 0px 0.1042vw 0.1042vw 0px #7d88931a;
  border: none;
  color: $light_gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: 1.25vw;
    height: 1.25vw;
  }

  &:hover:not(:disabled) {
    .icon {
      color: $primary_blue;
    }
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
