@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.widgetContent {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.widgetHeader {
  height: 50px;
  gap: 8px;
  display: flex;
  opacity: 1;
  padding-bottom: 8px;
  border-bottom: 1px solid $gray_f0;
}

.fireIcon {
  width: 40px;
  height: 40px;

  rect {
    fill: $light_gray_10;
    fill-opacity: 1;
  }

  path {
    fill: $light_gray;
  }

  &.dangerActive {
    rect {
      animation: blinkBackground 0.5s infinite alternate;
    }

    path {
      fill: $red;
    }
  }
}

.headerText {
  display: flex;
  flex-direction: column;
  cursor: grab;

  h2 {
    @include RReg_20;
    color: $dark_gray;
  }
  p {
    @include RReg_16;
    color: $light_gray;
  }
}

.widgetBody {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
}

.widgetButton {
  height: 31px;
  border-radius: 40px;
  gap: 8px;
  display: flex;
  opacity: 1;
  padding: 6px 12px;
  border: none;
  background: $red_10;
  color: $red;
  animation-timing-function: ease-in-out;
  animation-duration: 200ms;

  p {
    @include RReg_16;
    color: $red;
  }

  &:hover {
    cursor: pointer;
    background: $red_15;
  }
}

.dangerText {
  @include RReg_16;
  color: $dark_gray;
}

.emptyText {
  @include RReg_16;
  color: $light_gray;
}

@keyframes blinkBackground {
  0% {
    fill: $red_10;
    fill-opacity: 1;
  }
  100% {
    fill: $red_30;
    fill-opacity: 1;
  }
}
