@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.mainArea {
  height: 100%;
  width: 83.0208vw;
  display: grid;
  justify-content: center;
  background: $gray_f6;
}

.header {
  width: 80.2083vw;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding-top: 1.6667vw;
  padding-bottom: 0.2083vw;

  h2 {
    @include RMed_32;
    color: $dark_gray;
  }

  h3 {
    @include RReg_20;
    color: $light_gray;
  }
}

.headerText {
  opacity: 1;
  display: grid;
  gap: 0.4167vw;
  flex: 1;
  min-width: 0;
}

.headerName {
  height: 1.9792vw;
  opacity: 1;
  gap: 0.4167vw;
  display: flex;
}

.headerWay {
  height: 1.9792vw;
  opacity: 1;
  gap: 0.4167vw;
  padding-bottom: 0.2083vw;
  display: flex;
  align-items: center;
  color: $light_gray;

  p {
    @include RMed_20;
    color: $light_gray;
  }

  .videoName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 31.25vw;
  }

  .staticText {
    @include RMed_20;
    color: $light_gray;
    white-space: nowrap;
  }
}

.buttonsContainer {
  width: 12.4479vw;
  height: 3.125vw;
  opacity: 1;
  gap: 0.8333vw;
  padding-top: 0.8333vw;
  display: flex;
  &.small {
    width: 5.5208vw;
    height: 2.5vw;
    gap: 0.5208vw;
    padding-top: 0;
  }
}

.mainContainer {
  width: 80.2083vw;
  height: 49.9479vw;
  opacity: 1;
  gap: 1.0417vw;
  padding-bottom: 1.0417vw;
  display: flex;
}

.errorText {
  height: 1.4583vw;
  gap: 0.2083vw;
  opacity: 1;
  padding-top: 0.1042vw;
  display: flex;
  align-items: center;

  p {
    @include RMed_16;
  }
}

.blue {
  color: $primary_blue;
}

.gray {
  color: $light_gray;
}

.red {
  color: $red;
}
