@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.mainArea {
  height: 100%;
  width: 83.0208vw;
  gap: 1.0417vw;
  padding-right: 1.7708vw;
  padding-left: 1.0417vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $gray_f6;
}

.header {
  width: 80.2083vw;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding-top: 1.25vw;
  padding-bottom: 0.2083vw;
  h2 {
    @include RMed_32;
    color: $dark_gray;
  }
  h3 {
    @include RReg_20;
    color: $light_gray;
  }
}

.headerText {
  height: 3.5938vw;
  opacity: 1;
  display: grid;
  gap: 0.4167vw;
}

.headerControls {
  height: 3.125vw;
  opacity: 1;
  gap: 0.8333vw;
  display: flex;
  align-items: center;
}

.videosList {
  width: 80.2083vw;
  height: 49.9479vw;
  opacity: 1;
  gap: 1.0417vw;
  padding-top: 1.0417vw;
  border-top: 0.0521vw solid $gray_d8;
  display: flex;
}

.videosGrid {
  width: 72.0833vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8333vw;
}

.videoCard {
  width: 23.3333vw;
  height: fit-content;
  opacity: 1;
  border-radius: 0.8333vw;
  gap: 1.25vw;
  border: 0.0521vw solid $gray_f0;
  padding: 1.0417vw;
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 0px 0.1042vw 0.1042vw 0px #7d88931a;
}

.videoThumbnail {
  width: 21.25vw;
  height: 11.9792vw;
  opacity: 1;
  border-radius: 0.8375vw;
  gap: 0.5208vw;
  border: 0.0521vw solid $gray_d8;
  display: flex;
  background: $gray_f0;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.8375vw;
  }
}

.videoInfo {
  width: 21.25vw;
  opacity: 1;
  gap: 0.1042vw;
  display: flex;
  flex-direction: column;
  p {
    @include RReg_20;
    color: $dark_gray;
  }
}

.titleHeader {
  width: 21.25vw;
  height: 1.25vw;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  h2 {
    @include RREGUP_14;
    color: $light_gray;
  }
}

.menuButton {
  width: 1.25vw;
  height: 1.25vw;
  opacity: 1;
  border: none;
  background: none;
  color: $light_gray;
  cursor: pointer;
  &:active,
  :hover {
    color: $primary_blue;
  }
}

.menuContainer {
  position: relative;
  display: inline-block;
}

.videoMenu {
  width: 10.4167vw;
  opacity: 1;
  border-radius: 0.4167vw;
  border: 0.0521vw solid $gray_f0;
  background: $white;
  box-shadow: 0px 0.1042vw 0.1042vw 0px #7d88931a;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  overflow: hidden;
}

.menuItem {
  width: 10.4167vw;
  height: 2.5vw;
  opacity: 1;
  gap: 0.4167vw;
  padding-top: 0.4167vw;
  padding-right: 0.4167vw;
  padding-bottom: 0.4167vw;
  padding-left: 0.625vw;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  color: $light_gray;
  transition: background-color 0.2s ease;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 0.0521vw;
    background: $gray_d8;
  }

  p {
    @include RReg_16;
    color: $light_gray;
  }

  .menuIcon {
    width: 1.0417vw;
    height: 1.0417vw;
  }

  &:hover {
    background: $gray_f6;
  }

  &.deleteItem {
    &:hover {
      color: $red;
      p {
        color: $red;
      }
    }
  }
}
