@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.mainArea {
  display: grid;
  width: 83.0208vw;
  height: 100%;
  gap: 1.1979vw;
  opacity: 1;
  padding-right: 1.7708vw;
  padding-left: 1.0417vw;
  background: $gray_f6;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 2.5vw;
  gap: 0.4167vw;
  opacity: 1;
  padding-top: 1.25vw;
  padding-bottom: 0.4167vw;
}

.dashboardInfo {
  gap: 0.625vw;
  opacity: 1;
  display: grid;
  justify-items: start;
  h2 {
    @include RMed_32;
    color: $dark_gray;
  }
}

.buttonsContainer {
  display: flex;
  gap: 1.0417vw;
  opacity: 1;
  &.small {
    gap: 0.5208vw;
  }
}

.dashboard {
  width: 80.2083vw;
  height: 48.6979vw;
  gap: 1.0417vw;
  opacity: 1;
  padding-bottom: 1.0417vw;
  display: grid;
}

.dashboardContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.gridContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  pointer-events: none;
  z-index: 1;
}

.gridCell {
  background: $gray_f0;
  border-radius: 0.4167vw;
  transition: background-color 0.2s;

  &:hover {
    background: $gray_d8;
  }
}

.gridLayoutContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.layout {
  width: 100%;
  position: relative;
}
