@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.searchBox {
  width: 13.9583vw;
  height: 2.0833vw;
  justify-content: space-between;
  opacity: 1;
  border-width: 0.0521vw;
  border-radius: 0.4167vw;
  padding-left: 0.4167vw;
  background: $white;
  border: 0.0521vw solid $gray_d8;
  display: flex;
  align-items: center;

  &.wide {
    width: 47.9167vw;
  }
}

.search {
  height: 1.0417vw;
  width: 100%;
  opacity: 1;
  gap: 0.4167vw;
  display: flex;
  align-items: center;
  p {
    @include RReg_14;
    color: $light_gray;
  }
  img {
    width: 1.04vw;
    height: 1.04vw;
  }
}

.searchInput {
  @include RReg_14;
  color: $dark_gray;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  caret-color: $primary_blue;

  &::placeholder {
    color: $light_gray;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.noResults {
  padding-left: 1.25vw;
  p {
    @include RReg_20;
    color: $light_gray;
  }
}

.filter {
  width: 2.5vw;
  height: 2.0833vw;
  opacity: 1;
  gap: 0.5208vw;
  padding-top: 0.1042vw;
  border-left: 0.0521vw solid $gray_d8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 1.0417vw;
    height: 1.0417vw;
    opacity: 0.5;
  }
  &:hover {
    img {
      opacity: 3;
    }
  }
}
