@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.widgetContent {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.widgetHeader {
  height: 50px;
  gap: 8px;
  display: flex;
  opacity: 1;
  padding-bottom: 8px;
  border-bottom: 1px solid $gray_f0;
}

.headerText {
  display: flex;
  flex-direction: column;
  cursor: grab;

  h2 {
    @include RReg_20;
    color: $dark_gray;
  }
  p {
    @include RReg_16;
    color: $light_gray;
  }
}

.widgetBody {
  width: 100%;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}

.total {
  height: 43px;
  padding-bottom: 8px;
  gap: 4px;
  opacity: 1;
  display: flex;
  align-items: center;

  h3 {
    @include RReg_16;
    color: $light_gray;
  }

  p {
    @include RMed_20;
    color: $gray;
  }
}

.graphsContainer {
  gap: 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.graphBlock {
  height: 47px;
  gap: 4px;
  opacity: 1;
  display: grid;
}

.lineGraph {
  width: 100%;
  height: 24px;
  gap: 16px;
  opacity: 1;
  border-radius: 90px;
  background: $light_gray_15;
  display: flex;
  position: relative;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: $primary_blue;
  transition: width 0.3s ease;
  border-radius: 90px;
  border: 2px solid $white;
}

.graphSign {
  width: 100%;
  height: 19px;
  justify-content: space-between;
  display: flex;
  opacity: 1;

  h3 {
    @include RReg_16;
    color: $gray;
  }
}

.nums {
  height: 19px;
  gap: 4px;
  opacity: 1;
  display: flex;
  h4 {
    @include RMed_16;
    color: $gray;
  }

  p {
    @include RReg_16;
    color: $light_gray;
  }
}
