@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.secondaryButton {
  height: 2.2917vw;
  gap: 0.4167vw;
  opacity: 1;
  padding-top: 0.625vw;
  padding-right: 0.8333vw;
  padding-bottom: 0.625vw;
  padding-left: 0.8333vw;
  border-radius: 0.4167vw;
  border: 0.0781vw solid $primary_blue;
  display: flex;
  align-items: center;
  background-color: transparent;
  @include RMed_16;
  color: $primary_blue;
  cursor: pointer;
  transition: all 0.2s ease;
  .icon {
    width: 1.0417vw;
    height: 1.0417vw;
    fill: currentColor;
  }
  &:hover:not(:disabled) {
    background-color: $primary_blue_15;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
