@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.secondaryButton {
  height: 44px;
  gap: 8px;
  opacity: 1;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border-radius: 8px;
  border: 1.5px solid $primary_blue;
  display: flex;
  align-items: center;
  background-color: transparent;
  @include RMed_16;
  color: $primary_blue;
  cursor: pointer;
  transition: all 0.2s ease;
  .icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  &:hover:not(:disabled) {
    background-color: $primary_blue_15;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
