@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.mainArea {
  height: 100%;
  width: 83.0208vw;
  display: flex;
  justify-content: center;
  background: $gray_f6;
}

.header {
  display: grid;
  width: 80.2083vw;
  height: 8.8021vw;
  gap: 0.4167vw;
  opacity: 1;
  padding-top: 1.6667vw;
  padding-left: 1.4063vw;
  padding-right: 1.4063vw;
}

h2 {
  @include RMed_32;
  color: $dark_gray;
}

h3 {
  @include RReg_20;
  color: $light_gray;
}

.buttonsContainer {
  display: flex;
  gap: 0.8333vw;
  opacity: 1;
  padding-top: 0.8333vw;
}
