@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.buttonGray {
  height: 2.2396vw;
  opacity: 1;
  gap: 0.4167vw;
  padding-top: 0.625vw;
  padding-right: 0.8333vw;
  padding-bottom: 0.625vw;
  padding-left: 0.8333vw;
  border-radius: 0.4167vw;
  border: 0.0521vw solid $light_gray;
  background: $gray_f0;
  color: $light_gray;
  cursor: pointer;
  display: flex;
  align-items: center;
  @include RMed_16;
  transition: all 0.2s ease;
  z-index: 10;

  &:hover:not(:disabled) {
    background-color: $gray_d8;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
