@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.closeButton {
  width: 1.6667vw;
  height: 1.6667vw;
  opacity: 1;
  border-radius: 0.4167vw;
  border: 0.0521vw solid $gray_d8;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: grid;
  background: transparent;
  color: $light_gray;

  svg {
    height: 0.52083vw;
    width: 0.52083vw;
  }

  &:hover:not(:disabled) {
    background: $gray_d8;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
