$dark_gray: #252e38;
$gray: #455260;
$light_gray: #7d8893;
$light_gray_15: #7d889326;
$light_gray_10: #7d88931a;
$primary_blue: #1776e0;
$primary_blue_15: #1776e026;
$primary_blue_10: #1776e01a;
$white: #ffffff;
$white_20: #ffffff33;
$white_10: #ffffff1a;
$gray_d8: #d8d8d8;
$gray_f0: #f0f0f0;
$gray_f6: #f6f6f6;
$dark_blue: #125eb3;
$red: #eb3134;
$red_30: #eb31344d;
$red_15: #eb313426;
$red_10: #eb31341a;
$black: #000000;
$black_40: #00000066;
$black_20: #00000033;
$system_good: #3cab17;
$system_good_15: #3cab1726;
$system_good_10: #3cab171a;

$RMed_32: (
  font-family: Roboto,
  font-weight: 500,
  font-style: Medium,
  font-size: 1.6667vw,
  leading-trim: NONE,
  line-height: 100%,
);

$RMed_20: (
  font-family: Roboto,
  font-weight: 500,
  font-style: Medium,
  font-size: 1.0417vw,
  leading-trim: NONE,
  line-height: 100%,
);

$RMed_16: (
  font-family: Roboto,
  font-weight: 500,
  font-style: Medium,
  font-size: 0.8333vw,
  leading-trim: NONE,
  line-height: 100%,
);

$RMed_14: (
  font-family: Roboto,
  font-weight: 500,
  font-style: Medium,
  font-size: 0.7292vw,
  leading-trim: NONE,
  line-height: 100%,
);

$RReg_20: (
  font-family: Roboto,
  font-weight: 400,
  font-style: Regular,
  font-size: 1.0417vw,
  leading-trim: NONE,
  line-height: 100%,
);

$RReg_16: (
  font-family: Roboto,
  font-weight: 400,
  font-style: Regular,
  font-size: 0.8333vw,
  leading-trim: NONE,
  line-height: 100%,
);

$RReg_14: (
  font-family: Roboto,
  font-weight: 400,
  font-style: Regular,
  font-size: 0.7292vw,
  leading-trim: NONE,
  line-height: 100%,
);

$RBold_24: (
  font-family: Roboto,
  font-weight: 700,
  font-style: Bold,
  font-size: 1.25vw,
  leading-trim: NONE,
  line-height: 100%,
);

$RBold_30: (
  font-family: Roboto,
  font-weight: 700,
  font-style: Bold,
  font-size: 1.5625vw,
  leading-trim: NONE,
  line-height: 100%,
);

$RREGUP_14: (
  font-family: Roboto,
  font-weight: 400,
  font-style: Regular,
  font-size: 0.7292vw,
  leading-trim: NONE,
  line-height: 100%,
  text-transform: uppercase,
);
