@use "@styles/base/variables.scss" as *;
@use "@styles/mixins.scss" as *;

.tabsContainer {
  display: flex;
  align-items: center;
  height: 2.6563vw;
  gap: 0.8333vw;
  opacity: 1;
  padding: 0.4167vw;
  border-radius: 0.4167vw;
  background: $gray_f0;
  box-shadow: 0px 0.2083vw 0.4167vw 0px #7d889333 inset;
  justify-self: flex-start;
}

.tabsList {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tab {
  height: 1.8229vw;
  gap: 0.4167vw;
  opacity: 1;
  padding-top: 0.4167vw;
  padding-right: 0.625vw;
  padding-bottom: 0.4167vw;
  padding-left: 0.625vw;
  border-radius: 0.4167vw;
  cursor: pointer;
  box-shadow: 0px 0.1042vw 0.1042vw 0px #7d88931a;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;

  .tabName {
    @include RReg_16;
    color: $light_gray;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.active {
    background: $white;
    .tabName {
      color: $dark_gray;
    }
  }

  &:hover .tabClose {
    opacity: 1;
  }
}

.widthMeasurer {
  @include RReg_16;
  position: absolute;
  visibility: hidden;
  white-space: pre;
  pointer-events: none;
}

.tabInput {
  height: 1.8229vw;
  opacity: 1;
  padding-top: 0.4167vw;
  padding-right: 0.625vw;
  padding-bottom: 0.4167vw;
  padding-left: 0.625vw;
  border-radius: 0.4167vw;
  @include RReg_16;
  border: 0.0521vw solid $primary_blue;
  border-radius: 0.4167vw;
  padding: 0.2083vw 0.4167vw;
  outline: none;
  background: $white;
  transition: border-color 0.2s;
  box-shadow: 0px 0.1042vw 0.1042vw 0px #7d88931a;
  caret-color: $primary_blue;
}

.tabInputMax {
  border-color: $gray_d8;
}

.tabClose {
  background: none;
  border: none;
  font-size: 0.8333vw;
  cursor: pointer;
  padding: 0.1042vw 0.2083vw;
  border-radius: 0.1042vw;
  margin-left: 0.2083vw;
  opacity: 0;

  &:hover {
    color: #ff4444;
    transform: scale(1.2);
  }
}

.addTabBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: 1.8229vw;
  gap: 0.5208vw;
  opacity: 1;
  border: none;
  border-left: 0.0521vw solid $gray_d8;
  color: $light_gray;

  svg {
    height: 1.25vw;
    width: 1.25vw;
  }

  &:hover {
    color: $primary_blue;
  }
}
